*.CF3
*.IAB
*.IAD
*.IMB
*.IMD
*.PFI
*.PO
*.PR
*.PRI
*.PS
*.WK3
*.SearchResults
*.o
*.d
*js
*html
*ld
*chm
*pdf
*.dep
*.bak
*.lst
/PROJECT/OUTPUT/*
/obj/*
/list/*
!*.bin
!*.axf
*.TMP
/MDK-ARM/infusion/*
/MDK-ARM/DebugConfig/*
/MDK-ARM/RTE/*
/MDK-ARM/infusion.uvguix.jason guo

